.left
  %a(href="https://twitter.com/#!/#{ENV['']}")
    %img(src="/clean/images/twitter.png")
  %a(href="https://github.com/rwdaigle")
    %img(src="/clean/images/github.png")
  %a(href="http://www.linkedin.com/in/rwdaigle")
    %img(src="/clean/images/linkedin.png")
  %a(href="http://feeds.feedburner.com/RyansScraps")
    %img(src="/clean/images/feed.png")
  %a(href="mailto:ryan.daigle@gmail.com")
    %img(src="/clean/images/email.png")

.right
  %a(href="http://heroku.com")
    %img(src="/clean/images/heroku.png")